
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>

    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <link rel="stylesheet" href="./assetsZeno/main.min.css">

    <link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2"
          href="https://zeno.fm/widget/assets/fonts/fontello.woff2">
    <link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2"
          href="https://zeno.fm/widget/assets/fonts/hinted-Larsseit-Medium.woff2">
    <link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2"
          href="https://zeno.fm/widget/assets/fonts/hinted-Larsseit.woff2">

    <meta property="og:title" content=""/>
    <meta property="og:type" content="music.radio_station"/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:audio" content=""/>
    <meta property="og:description" content=""/>

    <meta name="twitter:card" content="player"/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:site" content="@Zeno_Media"/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:image:alt" content=""/>
    <meta name="twitter:description" content=""/>

    <meta name="twitter:player" content=""/>
    <meta name="twitter:player:stream" content=""/>
    <meta name="twitter:player:stream:content_type" content="audio/ogg"/>
    <meta name="twitter:player:width" content="480"/>
    <meta name="twitter:player:height" content="50"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2T527NZWVM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2T527NZWVM');
    </script>

    <script async type="text/javascript" src="https://play.adtonos.com/attc-uAdJ2ujapxW6xDFKk.min.js"></script>
    <script async type='text/javascript' src='https://synchrobox.adswizz.com/register2.php'></script>
    <script async type='text/javascript' src='https://cdn.adswizz.com/adswizz/js/SynchroClient2.js'></script>
    <script async type="text/javascript" src="https://playerservices.live.streamtheworld.com/api/idsync.js?stationId=118143"></script>
</head>

<body>
<div>
    <header class="dashboard-header">
        <div class="dashboard-header__inner">

            <a class="get-app-link transition-opacity" id="playstore" href="" target="_blank" rel="noopener">
                <svg width="24" height="26" viewBox="0 0 24 26" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"><title>Android</title>
                    <defs>
                        <linearGradient x1="58.917%" y1="9.59%" x2="90.81%" y2="60.851%" id="a">
                            <stop stop-color="#FF177B" offset="0%"/>
                            <stop stop-color="#FFEC73" offset="100%"/>
                        </linearGradient>
                        <linearGradient x1="37.103%" y1="-44.035%" x2="0%" y2="101.06%" id="c">
                            <stop stop-color="#064AA2" offset="0%"/>
                            <stop stop-color="#63FFD4" offset="100%"/>
                        </linearGradient>
                        <path d="M14.22 13.114L.949.689c-.31.07-.495.3-.495.685v23.773c0 .327.133.521.297.587l13.47-12.62z"
                              id="b"/>
                        <path d="M1.297 12.665l7.671-4.163 3.389-1.854 5.578-2.968L14.221.115.751 12.737c.15.048.415.022.621-.079"
                              id="e"/>
                        <linearGradient x1="78.645%" y1="50%" x2="2.495%" y2="100%" id="f">
                            <stop stop-color="#FF4521" offset="0%"/>
                            <stop stop-color="#8A33DB" offset="100%"/>
                        </linearGradient>
                        <linearGradient x1="0%" y1="-24.186%" x2="64.224%" y2="100%" id="i">
                            <stop stop-color="#00A3B5" offset="0%"/>
                            <stop stop-color="#D6FFA1" offset="100%"/>
                        </linearGradient>
                        <path d="M.878.801C.623.666.368.627.164.681l13.283 12.444 3.675-3.435-5.54-3.031L3.21 2.076.879.801z"
                              id="h"/>
                    </defs>
                    <g fill="none" fill-rule="evenodd">
                        <path d="M12.357 6.659L1.67.81C1.077.486.486.683.486 1.36V25.185c0 .508.422.728.938.446l10.933-5.983 2.123-1.161 3.416-1.87s4.7-2.572 5.326-2.913c.624-.342.564-.81.037-1.08-.528-.27-5.363-2.934-5.363-2.934l-5.54-3.031z"
                              fill="url(#a)"/>
                        <g>
                            <mask id="d" fill="#fff">
                                <use xlink:href="#b"/>
                            </mask>
                            <use fill="url(#c)" xlink:href="#b"/>
                            <path d="M17.886 9.69l-5.547-3.033c-.02.044-10.11-5.49-10.697-5.773C1.044.517.453.714.453 1.374v23.871c0 .525.422.745.892.49.56-.309 10.974-6.022 10.994-6.066l5.547-3.033c-.03.042 4.669-2.536 5.25-2.837.668-.383.608-.853.098-1.077-.544-.315-5.377-2.985-5.348-3.032"
                                  mask="url(#d)"/>
                        </g>
                        <g transform="translate(0 13)">
                            <mask id="g" fill="#fff">
                                <use xlink:href="#e"/>
                            </mask>
                            <path d="M12.339-6.343c-.02.044-10.11-5.49-10.697-5.773-.598-.367-1.189-.17-1.189.49v23.871c0 .525.422.745.892.49.56-.309 10.974-6.022 10.994-6.066l5.547-3.033c-.03.042 4.669-2.536 5.25-2.837.668-.383.608-.853.098-1.077-.544-.315-5.377-2.985-5.348-3.032l-5.547-3.033z"
                                  fill="url(#f)" mask="url(#g)"/>
                        </g>
                        <g transform="translate(.774)">
                            <mask id="j" fill="#fff">
                                <use xlink:href="#h"/>
                            </mask>
                            <use fill="url(#i)" xlink:href="#h"/>
                            <path d="M17.111 9.69l-5.546-3.033C11.545 6.7 1.455 1.167.868.884.27.517-.321.714-.321 1.374v23.871c0 .525.422.745.891.49.561-.309 10.975-6.022 10.995-6.066l5.546-3.033c-.028.042 4.67-2.536 5.25-2.837.669-.383.609-.853.099-1.077-.544-.315-5.377-2.985-5.349-3.032"
                                  mask="url(#j)"/>
                        </g>
                    </g>
                </svg>
                <div class="app-link-text">
                    <span class="get-app-note">Get It On</span>
                    Google Play
                </div>
            </a>

            <a class="get-app-link transition-opacity" id="appstore" href="" target="_blank" rel="noopener">
                <svg width="25" height="30" viewBox="0 0 25 30" xmlns="http://www.w3.org/2000/svg"><title>Apple</title>
                    <g fill="#FFF" fill-rule="evenodd">
                        <path d="M23.619 10.228c-1.73-2.536-4.412-2.882-5.354-2.91-2.252-.238-4.437 1.355-5.584 1.355-1.17 0-2.937-1.332-4.84-1.293-2.45.038-4.743 1.464-6 3.679-2.594 4.516-.66 11.152 1.826 14.802 1.244 1.789 2.696 3.784 4.598 3.714 1.86-.076 2.556-1.193 4.8-1.193 2.225 0 2.878 1.193 4.818 1.147 1.996-.03 3.253-1.795 4.453-3.6 1.437-2.047 2.014-4.067 2.037-4.17-.046-.015-3.877-1.485-3.916-5.932-.033-3.71 3.022-5.515 3.162-5.6zM16.794 4.917c1-1.258 1.685-2.97 1.495-4.707-1.448.064-3.26 1.007-4.303 2.238-.922 1.084-1.747 2.861-1.534 4.533 1.627.122 3.298-.826 4.342-2.064"/>
                    </g>
                </svg>
                <div class="app-link-text">
                    <span class="get-app-note">Available on the</span>
                    App Store
                </div>
            </a>

        </div>
    </header>

    <main>
        <div class="dashboard">
            <div class="dashboard__inner">

                <div class="dashboard-box">
                    <div class="dashboard-box__playing">
                        <div class="dashboard-box__playing-album">
                            <div class="dashboard-box__playing-img">
                                <a href="#">

                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="dashboard-box__live status-live hidden">Live</div>

                    <div class="dashboard-box__controls">
                        <h1 class="dashboard-box__heading">
                            <div class="dashboard-box__heading-station-name" id="rjp-stationname">
                                <a href="#" target="_blank">

                                </a>
                            </div>
                            <div class="dashboard-box__heading-phone">
                                <button class="dashboard-box__heading-phone-button"></button>
                            </div>
                        </h1>
                        <div class="dashboard-box__callin status-live hidden">
                            <button class="dashboard-box__btn"> Call In</button>
                        </div>
                    </div>
                </div>

                <div class="dashboard-box minimized">
                    <div class="dashboard-box__playing">
                        <div class="dashboard-box__playing-album">
                            <div class=" dashboard-box__playing-song__wrap">
                                <div class="dashboard-box__playing-song"></div>
                                <div class="dashboard-box__playing-artist"></div>
                            </div>
                        </div>
                    </div>

                    <div class="dashboard-box__controls">
                        <div class="dashboard-box__play-controls">
                            <div class="dashboard-box__play-btn">
                                <audio controls id="audioPlayer" style="display: none"></audio>

                                <button class="btn-play jp-play"></button>
                                <button class="btn-play jp-pause paused" style="display: none;"></button>
                            </div>
                        </div>

                        <div class="dashboard-box__control-right">
                            <div class="dashboard-box__volume">
                                <button class="dashboard-box__volume-btn"><i class="icon-volume"></i></button>
                                <div class="dashboard-box__volume-bar-container">
                                    <input id="volumeSlider" type="range" data-rangeslider data-orientation="vertical">
                                </div>
                            </div>

                            <div class="dashboard-box__share">
                                <button class="dashboard-box__share-toggle popup-btn"><i class="icon-share"></i>
                                </button>
                                <div class="popup-box popup-box--share">
                                    <div class="popup-box__inner">
                                        <h3 class="popup-box__heading">Share on Social Media</h3>
                                        <ul class="share-buttons">
                                            <li>
                                                <a href="https://www.facebook.com/sharer/sharer.php?u=&quote="
                                                   target="_blank"
                                                   onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&display=popup&ref=plugin&src=quote&quote=' + encodeURIComponent(document.URL)); return false;">Facebook</a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/intent/tweet?source=&text=:%20"
                                                   target="_blank"
                                                   onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;">Twitter</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="rjp-radiojar-player"></div>
    </main>
</div>


<script src="./assetsZeno/vendors.min.js"></script>
<script src="./assetsZeno/scripts.min.js"></script>
<script src="./assetsZeno/index.min.js"></script>
</body>
</html>