.navbar {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    height: 15vh;
    position: absolute;
    width: 100%; /* Ocupar a largura total do pai */
    z-index: 2; /* Valor maior que o z-index dos elementos abaixo */

}

.ul {
    display: flex;
    justify-content: center;
    align-items:center;
    list-style-type: none;
    margin-left: 7em;
    width: 100%;
    text-decoration: none;
}

.li {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #666;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    font-size: 1em;
    text-decoration: none;

}

.li:hover {
color: black;
cursor: pointer;
}

.li:active {
    cursor: pointer;
    text-decoration: none;
    color: #666;
    }

.image {
    height: auto;
    width: 11vw;
    margin-left: 2em;
}

.bola {
    background-color: #b92121;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    float: right;
    margin-top: 4px;
    margin-left: 4px;
    position: relative;
    right: 35px;
    -webkit-animation: bola .7s linear infinite;
    -moz-animation: bola .7s linear infinite;
    -ms-animation: bola .7s linear infinite;
    -o-animation: bola .7s linear infinite;
    animation: bola .7s linear infinite;
}

@keyframes bola {
  0% { opacity: 0; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
  }

