.containerEsq {
    width: 23vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 2vw 2vw 0;
    float: left;
    text-align: center;
    background-image: url('../public/assets/images/fundo_player.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.innerContainerEsq {
    width: 23vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 2vw 2vw 0;
    float: left;
    text-align: center;
    margin-top: 3.1em;
}

.containerDir {
    width: 100%;
    background-color: transparent; /* cor de fundo da parte azul */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.main {
    display: flex;
    width: 100%;
    background-color: #355070;
}

.logo {
    margin-top: 1em;
}

.navlat a:first-child {
    border-top: 3px solid #262661;
}

.navlat a {
    color: #262661;
    display: block;
    border-bottom: 3px solid #262661;;
    font-size: 0.75vw;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    text-decoration: none;
    cursor: pointer;
}

.navlat {
    width: 80%;
    margin-top: 1em;
}

.media {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.media img{
    height: 2vw;
    width: auto;
    margin: 2.5vh 0;
}

/*---------------------------------------------------------------------------------*/


